<div class="container-fluid">
  <div class="row" style="overflow: hidden">
    <div class="col-md-6" style="margin-bottom: 10px">
      <div class="text">
        <h1 style="font-size: 70px; color: #000752">GK Techno Solutions</h1>
        <h4 style="text-align: justify; line-height: 2">
          At GK Techno Solutions, we are more than just a parent company; we are
          the driving force behind a diverse portfolio of innovative ventures.
          With a commitment to excellence, we bring you a blend of technology,
          music, e-commerce, and hospitality through our subsidiaries - GK
          Music, GK Dukkan, and Spring Hotel.
        </h4>
      </div>

      <button [routerLink]="['/contact']"><span>Contact Us</span></button>
    </div>

    <!-- Right side with image -->
    <div class="col-md-6 image" style="max-width: 600px; overflow: hidden">
      <img src="/assets/images/bg1.jpg" alt="Company Image" class="img-fluid" />
    </div>
  </div>
</div>
