<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="details-container">
        <div class="title" style="text-align: center">
          <h1>Contact Us</h1>
          <hr
            style="
              width: 10%;
              margin: 0 auto;
              border-width: 5px;
              border: 3px solid rgb(0, 0, 0);
              opacity: 1;
            "
          />
        </div>
        <div class="container">
          <div class="para" style="text-align: center; margin-top: 1%">
            <p>
              Feel free to get in touch with us at GK Techno Solutions. We value
              your inquiries and are here to provide information or assistance.
              Whether you have questions about our innovative ventures in
              technology, music, e-commerce, or hospitality, our team is ready
              to help. Contact us for any inquiries related to GK Music, GK
              Dukkan, Spring Hotel, or any other aspect of our diverse
              portfolio. Your satisfaction is our priority, and we look forward
              to connecting with you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5>Message Us</h5>
          <form
            #contactForm="ngForm"
            (ngSubmit)="submitForm(contactForm)"
            class="form-container"
          >
            <mat-form-field class="full-width" appearance="fill">
              <input
                matInput
                placeholder="Name"
                name="name"
                [(ngModel)]="formData.name"
                required
              />
              <mat-error
                *ngIf="
                  contactForm.controls['name']?.touched &&
                  contactForm.controls['name'].hasError('required')
                "
              >
                Name is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <input
                matInput
                placeholder="Email"
                name="email"
                [(ngModel)]="formData.email"
                required
                email
              />
              <mat-error
                *ngIf="
                  contactForm.controls['email']?.touched &&
                  contactForm.controls['email']?.hasError('required')
                "
              >
                Email is required
              </mat-error>
              <mat-error
                *ngIf="contactForm.controls['email']?.hasError('email')"
              >
                Invalid email address
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
              <textarea
                matInput
                placeholder="Message"
                name="message"
                [(ngModel)]="formData.message"
                required
              ></textarea>
              <mat-error
                *ngIf="
                  contactForm.controls['message']?.touched &&
                  contactForm.controls['message'].hasError('required')
                "
              >
                Message is required
              </mat-error>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!contactForm.valid"
              class="center-button"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
