:host {
  animation: display 0.5s ease-in-out;
}

.contact {
  position: relative;
  padding: 20px 0 10px;
  background: #f2f2f2c2;
  // margin-top: 50px;
  margin-bottom: 50px;
}
.section-title {
  animation: slide-in-top 0.5s ease-in-out;
  font-size: 40px;
}
a {
  text-decoration: none;
}

.contact .container {
  max-width: 900px;
}

.contact .contact-info {
  margin-bottom: 30px;
  text-align: center;
}

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
  background: #ffffff;
  padding: 15px 30px 25px 30px;
  text-align: center;
  color: #353535;
}

.contact .contact-address:hover,
.contact .contact-phone:hover,
.contact .contact-email:hover {
  box-shadow: 0 0 10px #dddddd;
}

.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  color: #1dbf73;
}

.contact .contact-info address,
.contact .contact-info p {
  margin-bottom: 0;
  font-size: 14px;
  color: #353535;
}

.contact .contact-info h3 {
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #353535;
}

.contact .contact-info a {
  color: #353535;
}

.contact .contact-info a:hover {
  color: #1dbf73;
}

.contact .map {
  position: relative;
  background: #ffffff;
}

.contact .map:hover {
  box-shadow: 0 0 10px #cccccc;
}

.contact .map iframe {
  width: 100%;
  height: 380px;
  margin-bottom: -7px;
}

.contact .form {
  background: #ffffff;
  padding: 30px;
  color: #353535;
}

.contact .form:hover {
  box-shadow: 0 0 10px #dddddd;
}

.contact .form input,
.contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.contact .form input:focus,
.contact .form textarea:focus {
  border-color: #1dbf73;
}

.contact .form button[type="submit"] {
  background: #1dbf73;
  border: 0;

  color: #ffffff;
  transition: 0.4s;
  cursor: pointer;
}

.contact .form button[type="submit"]:hover {
  background: #353535;
}

//animation styles
@keyframes display {
  from {
    transform: translateY(-10%);
    opacity: 0.1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
