/* contact-form.component.css */

form {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
}

.full-width {
  width: 100%;
}
/* contact.component.css */

:host {
  animation: display 0.2s ease-in-out;
}
@keyframes display {
  from {
    transform: translateY(-10%);
    opacity: 0.1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.title {
  text-align: center !important;
}

.title {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 1%;
}
.contact-container {
  padding: 50px;
}

@media (min-width: 768px) {
  .vl {
    border-right: 3px solid #848b93;
    height: auto;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .divider-vertical {
    display: none;
  }
}
.card {
  background: #ffffff;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
