<section class="about">
  <div class="container">
      <header class="section-header">
          <h3>About Us</h3>
          <p>
              Maecenas vel turpis quis lorem aliquam tempus quis non mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          </p>
      </header>

      <div class="row align-items-center about-row">
          <div class="col-md-6">
              <img src="/assets/images/bg.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-md-6">
              <h2 class="title"><a href="#">Welcome to Our Site</a></h2>
              <p class="textt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum rutrum ligula . Integer ac porttitor mi. In finibus vehicula aliquet. Vestibulum et velit placerat , pretium lorem id, porttitor libero. Suspendisse scelerisque nec arcu a malesuada. Nulla tempus dictum tristique.
              </p>
              <div class="read-more">
                  <a href="#">Read More</a>
              </div>
          </div>
      </div>

      <div class="row about-cols">
          <div class="col-md-4">
              <div class="about-col">
                  <div class="img">
                      <img src="/assets/images/bg.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="fas fa-circle"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Mission</a></h2>
                  <p>
                      Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus, ac sodales sapien sagittis
                  </p>
                  <div class="read-more">
                      <a href="#">Read More</a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="about-col">
                  <div class="img">
                      <img src="/assets/images/bg.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="fa-regular fa-eye"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Vision</a></h2>
                  <p>
                      Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus, ac sodales sapien sagittis
                  </p>
                  <div class="read-more">
                      <a href="#">Read More</a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="about-col">
                  <div class="img">
                      <img src="/assets/images/bg.jpg" alt="" class="img-fluid">
                      <div class="icon"><i class="fas fa-ellipsis-h"></i></div>
                  </div>
                  <h2 class="title"><a href="#">Our Objective</a></h2>
                  <p>
                      Aenean volutpat, dolor eu finibus rhoncus, elit felis vehicula nunc, ut pulvinar ex diam nec lacus. Phasellus sit amet rhoncus turpis. Aenean tincidunt auctor purus, ac sodales sapien sagittis
                  </p>
                  <div class="read-more">
                      <a href="#">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <section class="team">
    <div class="container">
        <header class="section-header">
            <h3 class="section-title">Meet our team</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper pharetra ligula nec hendrerit. Ut eu libero nec magna placerat fringilla.
            </p>
        </header>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="card card-block">
                    <a href="#"><img alt="" class="team-img img-fluid" src="/assets/images/Ashish malviya.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Ashish Malviya</span> <span class="card-text">Director & CEO</span>
                            <div class="social-nav">
                              <a href="#"><i class="fab fa-facebook"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- <div class="col-md-4 col-sm-6">
                <div class="card card-block">
                    <a href="#"><img alt="" class="team-img" src="img/team-2.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Kirti Malviya</span> <span class="card-text">Director</span>
                            <div class="social-nav">
                              <a href="#"><i class="fab fa-facebook"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin"></i></a>
                              <a href="#"><i class="fab fa-pinterest"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->

            <div class="col-md-6 col-sm-6">
                <div class="card card-block">
                    <a href="#"><img alt="" class="team-img" src="img/team-3.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Shubham Jaiswal</span> <span class="card-text">Director & MD</span>
                            <div class="social-nav">
                              <a href="#"><i class="fab fa-facebook"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</section>

