<div class="about">
  <div class="container">
    <header class="section-header header">
      <h1>About Us</h1>
    </header>

    <div class="row align-items-center about-row">
      <div class="col-md-6">
        <img src="/assets/images/about.png" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6">
        <h2 class="title" style="color: #5e2ced">Welcome to Our Site</h2>
        <p class="textt">
          Welcome to GK Techno Solutions, a hub of innovation with a clear
          purpose. Founded to redefine technology, we've evolved into a diverse
          venture. From pioneering tech advancements to memorable experiences in
          music, e-commerce, and hospitality, we push boundaries and shape the
          future. Our values include elevating auditory experiences with GK
          Music, redefining e-commerce through GK Dukkan, and creating
          hospitality havens with Spring Hotel. Join us on this transformative
          journey.
        </p>
      </div>
    </div>

    <div class="row about-cols">
      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img
              src="/assets/images/business-strategy-success-target-goals.jpg"
              alt=""
              class="img-fluid imgg"
            />
            <div class="icon"><i class="fas fa-circle"></i></div>
          </div>
          <h2 class="title">Our Mission</h2>
          <p>
            At GK Techno Solutions, our mission is to be at the forefront of
            technological innovation, delivering cutting-edge solutions that
            empower businesses and individuals to thrive in the digital era. We
            are committed to creating a seamless fusion of technology, music,
            e-commerce, and hospitality to enhance the overall human experience.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img
              src="/assets/images/vision-mission-planning-aspirations-process-concept.jpg"
              alt=""
              class="img-fluid imgg"
            />
            <div class="icon"><i class="fa-regular fa-eye"></i></div>
          </div>
          <h2 class="title">Our Vision</h2>
          <p>
            Our vision is to be a global leader in technological solutions,
            setting new benchmarks for excellence and redefining industry
            standards. We aspire to create a harmonious ecosystem where
            creativity and innovation converge, fostering a world where
            technology enriches lives and connects people on a profound level.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="about-col">
          <div class="img">
            <img
              src="/assets/images/job-5382501_1920.jpg"
              alt=""
              class="img-fluid imgg"
            />
            <div class="icon"><i class="fas fa-ellipsis-h"></i></div>
          </div>
          <h2 class="title">Our Objective</h2>
          <p>
            Innovation Excellence Drive continuous innovation in technology,
            ensuring that our solutions remain at the forefront of industry
            advancements. Empower businesses and individuals by providing
            user-friendly and effective technological solutions tailored to
            their unique needs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="team">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title">Meet our team</h2>
      </header>

      <div class="row meet">
        <div class="col-md-1"></div>
        <div class="col-md-4 col-sm-6">
          <div class="card card-block">
            <img
              alt=""
              class="team-img img-fluid"
              src="/assets/images/Ashish malviya.jpg"
            />
            <div class="card-title-wrap">
              <span class="card-title">Ashish Malviya</span>
              <span class="card-text">Director & CEO</span>
              <div class="social-nav">
                <a
                  href="https://www.facebook.com/golu.malviya.104203?mibextid=ZbWKwL"
                  ><i class="fab fa-facebook"></i
                ></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/ashish-malviya-643201282/"
                  ><i class="fab fa-linkedin"></i
                ></a>
                <a
                  href="https://www.instagram.com/ashishmalviya0055?igsh=ZGNjOWZkYTE3MQ=="
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-4 col-sm-6">
                <div class="card card-block">
                    <a href="#"><img alt="" class="team-img" src="img/team-2.jpg">
                        <div class="card-title-wrap">
                            <span class="card-title">Kirti Malviya</span> <span class="card-text">Director</span>
                            <div class="social-nav">
                              <a href="#"><i class="fab fa-facebook"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-linkedin"></i></a>
                              <a href="#"><i class="fab fa-pinterest"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-6">
          <div class="card card-block">
            <img
              alt=""
              class="team-img img-fluid"
              src="/assets/images/Shubham Jaiswal.jpg"
            />
            <div class="card-title-wrap">
              <span class="card-title">Shubham Jaiswal</span>
              <span class="card-text">Director & MD</span>
              <div class="social-nav">
                <a
                  href="https://www.facebook.com/shubham.jaiswal.52035772?mibextid=ZbWKwL"
                  ><i class="fab fa-facebook"></i
                ></a>
                <a
                  href="https://twitter.com/shanupreeti?t=kj45_tzhyooY_CmJWYmr_w&s=08"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
                <a
                  href="https://www.instagram.com/shubham_jaiswal0055?igsh=ZGNjOWZkYTE3MQ=="
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>
